.App {
  margin: 20px;
  gap: 40px;
  display: flex;
}

.users {
  width: 50%;
}

.user-name {
  border: 2px solid #5e0160;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #f3f2f2;
}

.user {
  font-weight: 700;
  font-size: 24px;
  color: #fa0101;
}

.details {
  width: 50%;
}

.loading {
  font-weight: 700;
  font-size: 20px;
  color: rgb(18, 1, 203);
}

.city,
.company,
.position {
  font-weight: 700;
}

.text {
  font-weight: 500;
  font-size: 20px;
  padding-left: 10px;
  color: #5c5858;
}

.select-user {
  font-size: 24px;
  font-weight: 600;
  color: #4b0082;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.5px;
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
